* {
    box-sizing: border-box;
}
body {
    background-color: blanchedalmond;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(3, 3, 78);
    height: 100vh;
}

header {
    display: grid;
    justify-items: center;
    margin-bottom: 20px;
}

nav {
    display: flex;
    gap: 20px;
}

li {
    list-style-type: none;
}

.title {
    font-size: xx-large;
    font-weight: bold;
    text-shadow: .5px .5px .5px black;
}

button {
    background-color: rgb(3, 3, 78);
    color: blanchedalmond;
    border-radius: 10px;
    padding: 10px;
}

#content {
    display: grid;
    gap: 20px;
    justify-items: center;
}

.subcontainer {
    display: grid;
    border: 5px solid rgb(3, 3, 78);
    justify-items: center;
    width: 500px;;
    padding: 50px;
}

.signature {
    margin-top: 10px;
    justify-self: end;
}

.subtitle {
    font-weight: bold;
    font-size: larger;
    justify-self: start;
}